* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding-top: 120px;
  line-height: 1.6;
  background: #f3ba6f;
  color: #333;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  background-color: #4a4236;
  padding: 5px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999999;

  border-bottom: 3px solid black;
}

header h1 {
  color: #f3ba6f;
  font-size: 24px;
}

nav a {
  margin-left: 15px;
  color: #f3ba6f;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

section,
.inicio {
  scroll-margin-top: 130px;
}

.inicio {
  background: url("https://img.freepik.com/fotos-gratis/em-close-up-o-confeiteiro-a-preparar-a-comida_23-2149038995.jpg")
    center/cover;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffe4e1;
  text-shadow: 5px 5px 10px #000;
  font-size: 30px;
  text-align: center;
}

.inicio-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

section {
  padding: 60px 20px;
  max-width: 1000px;
  margin: auto;
}

.sobre-nos {
  background-color: #ffe4e1;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 40px 50px;
}

.sobre-nos h2,
.servicos h2,
.produtos h2,
.contato h2 {
  color: #4a4236;
  margin-bottom: 20px;
  text-align: center;
}

.grid-produtos {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.item {
  background: #ffe4e1;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.item img {
  width: 100%;
  height: 390px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.item:hover {
  transform: scale(1.03);
  transition: 0.3s;
}

.servicos {
  background-color: c;
  border-radius: 10px;
  padding: 40px 1px;
  margin-bottom: -60px;
}

.servicos ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.servicos li {
  background-color: #ffe4e1;
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
  flex: 1 1 200px;
  text-align: center;
  transition: transform 0.3s;
}

.servicos li:hover {
  transform: scale(1.05);
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,
textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  resize: none;
}

button {
  background: #4a4236;
  padding: 12px;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #4a4236;
}

#status {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}

#topo {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #ffe4e1;
  color: #4a4236;
  padding: 20px;
  border-radius: 25%;
  cursor: pointer;
  display: none;
  font-size: 20px;
}

footer {
  background-color: #4a4236;
  color: #fff;
  text-align: center;
  padding: 2px;
}

.footer-container p {
  margin: 1px 0;
}

@media (max-width: 600px) {
  nav {
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }
}

.icone-insta {
  width: 35px;
  height: auto;
  border-radius: 10px;
  margin: 0 10 px;
  transition: transform 0.2s;
}

.icone-whatsapp {
  width: 35px;
  height: auto;
  border-radius: 10px;
  margin: 0 10 px;
  transition: transform 0.2s;
}
